.main-background {
    background-color: #ffffff !important;
}

.item-img {
    display: flex;
    justify-content: center !important;
}

.form {
    margin-top: 35px;
}

.review-item {
    margin-top: 15px !important;
}
